@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
}

.mapboxgl-popup {
  width: 240px;
}

.max-w-44 {
  max-width: 11rem;
}

.z-1000 {
  z-index: 1000;
}